<ul class= "list-inline">
  <li class= "list-inline-item">
    <h2>Add Restaurant</h2>
  </li>
  <li class= "list-inline-item">
    <%= link_to "Back to Restaurant List", restaurants_path, class: "btn btn-primary"%>
  </li>
</ul>

<%= form_for(@restaurant) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Can't be emtpy", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, placeholder: "Can't be empty", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: "No spaces or characters, please", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category, placeholder: "Only Chinese, Italian, Japanese, French, or Belgian, please", class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>



