<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category.capitalize %></h2>
<p><i class="far fa-address-card"></i> Address: <%= @restaurant.address %> <i class="fas fa-phone"></i> Phone Number: <%= @restaurant.phone %></p>

<table class="table">
  <% @restaurant.reviews.each do |comment| %>
    <tr>
        <td> <%= comment.content %> </td>
        <td> <%= comment.rating %></td>
    </tr>
  <% end %>
</table>

<ul class="list-inline">
  <li class="list-inline-item">
    <%= link_to "Review this Restaurant", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>
  </li>
  <li class="list-inline-item">
    <%= link_to "Back to Restaurant List", restaurants_path, class: "btn btn-primary"%>
  </li>

</ul>
