<ul class= "list-inline">
  <li class= "list-inline-item">
    <h2>Add Review <%= @restaurant.name %></h2>
  </li>
  <li class= "list-inline-item">
    <%= link_to "Back to Restaurant List", restaurants_path, class: "btn btn-primary"%>
  </li>
</ul>

<%= form_for [@restaurant, @review] do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, placeholder: "So... what did you think of this spot?", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.text_field :rating, placeholder: "On a scale of 1-5", class: 'form-control' %>
  </div>
  <%= f.submit "Add Review", class: "btn btn-primary" %>
<% end %>
